@import url(./reset.css);
@import url(./responsive.css);


/* seção generalista do layout da página  */

body{
    position:relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(6, 100px);
    grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside footer footer footer"
}




/* seção especifica de cada elemento */

/* seção cabeçalho da página (menu)*/

header {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-area: header;
    width:1440px;
    height:100px;
    position:absolute;

    padding:0 24px;
    align-items: center;
    grid-gap:32px;
    
    background-color:#ffffff;

    
}

header nav ul{
    width:1440px;
    height:100px;
    display: grid;
    margin:16px 24px;
    grid-template-columns: repeat(3,1fr);
    gap: 610px;
    text-decoration: none;
    list-style: none;
}

header nav ul li{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-template-areas:header;
    display: grid;
    width:100%;
    height:100px;
    
}


/* lado direito do menu */

header nav ul li:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/1;
  justify-self: flex-start;
  text-align: center;
  justify-content: flex-start;
  margin:0 1px;
    
  
 
}
header nav ul li:nth-child(2) {
  justify-self: flex-start;
  text-align: center;
  position:absolute;
  left:80px;
  grid-column: 1/3;
  grid-row:1/1;
 
}

/* meio do menu */
header nav ul li input{
    width:348px;
    height:40px;
    grid-column: 2/3;
    grid-row: 1/1;
    margin:0;
    padding:25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


header nav ul li:nth-child(3)::after{
    content:"";
    display: inline-block;
    border: 1px transparent #CCCCCC;
    position: absolute;
    width: 62px;
    height: 55px;
    left:284.8px;
    cursor:pointer;
    top: -2px;
    bottom: 50%;
    padding:1px;
    border-radius:30px;
    border: 1px transparent #000000;
    background:   #F8F8F8;
    background-repeat: no-repeat;
    background-image: url("../imagens/search.png");
    background-position: center;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
header nav ul li:nth-child(3){
    grid-column: 2/3;
    box-sizing: border-box;
    position: absolute;
}

/* lado esquerdo */


header nav ul li:nth-child(4){
    grid-column: 3/3;
    grid-row:1;
    margin:0 3rem;

    
}
header nav ul li:nth-child(5){
    grid-column: 3/3;
    grid-row:1;
    margin:0 6rem;
    
}
header nav ul li:nth-child(6){
    grid-column: 3/3;
    grid-row:1;
    margin: 0 9rem;
    
}


header nav ul li img[name="foto-perfil"]{
    width:24px;
    height:24px;
    border-radius:25px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
}








/* seção opções de menu do lado */



aside{
    
    grid-area: aside;
    padding: 0 24px;
    gap: 22px;
    margin:0;
    position: absolute;
    width: 218px;
    height: 968px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
}
aside section ul li img{
    width:20px;
    height:20px;
    float:left;
    margin:0 1.6rem;
}
aside  section ul li  {
    grid-column: 1/1;
    text-decoration: none;
    list-style: none;
    margin:1.5rem 0;
    width:15rem;
    
}


aside section ul li:hover{
    background:#4c6693;
    color:#fff;
    height:20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}




/* seção do conteudo principal */
main{
    margin:0;
    grid-area: main;
    width:110%;
    height:590px;
    background-color:#F5F5F5;
    
}
main section .conteudo{
    grid-area: main;
    display: grid;
    padding:24px;
    margin:0 8rem 0 0;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: "main main ";
    align-content: center;
    
}

main section .conteudo ul{
    list-style:none;
    padding:2px;
    display:grid;
    grid-template-rows: repeat(5,40px);
    
}
main section .conteudo ul li{

    width:60%;
    font-size:9px;
    padding:1px;
   
}
main section .conteudo ul li video{
    grid-row: 1/4;
    grid-template-areas: "main main ";
    margin:0 2rem;
    width:150px;
    clear:both;
}
main section .conteudo ul li img{
    grid-row:2/5;
    grid-template-areas: "main main ";
    margin:3rem 2rem;
    width:25px;
    height:25px;
    float:left;

}
main section .conteudo ul li b{
    grid-row:2/5;
    width:80%;
    font-size:9px;
    margin:0.5rem 4rem;
    float:left;

    
}

main section .conteudo ul li:nth-child(4){
    grid-row:4/5;
    grid-template-areas: "main main ";
    margin:-2px 4rem;
    
}
main section .conteudo ul li:nth-child(5){
    grid-row:5/5;
    grid-template-areas: "main main ";
    margin:-30px 4rem;
}






/* seção do rodapé da pagina  */

footer{
    margin:6rem 0;
    font-style:oblique;
    text-decoration: none;
    grid-area: footer;
    grid-row:7 ;
    grid-column:3;

}
footer a{
    text-decoration:none;
    font-weight:700;
    font-style:normal;
}



